Options -MultiViews
RewriteEngine On

RewriteBase /autoplac%20mvc%20projekat/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]